{% load static %}
{% comment %} Base layout template used by other pages via `{% extends "market_base/base.html" %}` {% endcomment %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% comment %} Favicon for the market app {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static 'market/favicon/favicon.ico' %}">

    {% comment %} Global stylesheet (Tailwind build output)  {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'market/dist/output.css' %}">

    {% comment %} Main JavaScript file for market-specific interactive behavior {% endcomment %}
    <script src="{% static 'market/js/main.js'%}" defer></script>

    {% comment %} Page title (child templates can override this block) {% endcomment %}
    <title>{% block title %}Podo-Market{% endblock title %}</title>
  </head>
  <body class="{% block body_class %}flex min-h-screen flex-col m-0 text-[17px] text-text-main bg-body-bg break-keep{% endblock %}">

    {% comment %} header area {% endcomment %}
    {% block header %}
    {% endblock header %}

    {% comment %} Main content {% endcomment %}
    <main class="flex-1">
      {% block content %}
      {% endblock content %}
    </main>
    
    {% comment %} footer area {% endcomment %}
    {% block footer %}
    {% endblock footer %}
  
  </body>
</html>