{% extends "market_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Log In | Podo-Market{% endblock title %}

{% block body_class %}{{ block.super }} border-t-[8px] border-t-site-body-border-top with-background{% endblock %}

{% block content %}
<div class="w-full max-w-[440px] mx-auto my-[196px]">
  <form method="post">
    <a href="{% url 'home' %}">
      <img class="block w-[164px] h-[90px] mx-auto mb-[47px]" src="{% static 'market/assets/logo.svg' %}" alt="podomarket">
    </a>
    {% csrf_token %}
    <div class="mb-[15px]">
      {{ form.login|add_class:"podo-input"|attr:"placeholder:E-mail"}}
    </div>
    <div>
      {{ form.password|add_class:"podo-input"|attr:"placeholder:Password"}}
    </div>
    <div class="mt-[15px] text-[14px] leading-[1.7] text-center">
      {% for error in form.non_field_errors %}
      <div class="text-input-error-fg">{{ error }}</div>
      {% endfor %}
    </div>
    <button class="podo-button large primary block w-full max-w-60 mx-auto mt-6" type="submit">Log In</button>
  </form>

  <ul class="podo-links flex justify-center text-[17px] leading-[25px] mt-6">
    <li>
      <a href="{% url 'account_reset_password' %}" class="hover:border-b-2 hover:border-links-divider">Forgot Password</a>
    </li>
    <li class="h-[15px] mx-[21px] w-px border-r border-links-divider"></li>
    <li>
      <a href="{% url 'account_signup' %}" class="hover:border-b-2 hover:border-links-divider">Sign Up</a>
    </li>
  </ul>
</div>
{% endblock content %}
