{% extends "market_base/base_with_header.html" %}
{% comment %} Use the shared base layout with header for the password reset completion page {% endcomment %}


{% comment %} Main content {% endcomment %}
{% block content %}

{% comment %} Centered notification box informing the user that the password has been successfully reset {% endcomment %}
<div class="flex items-center justify-between w-full max-w-[740px] mx-auto my-[38px] text-[20px] leading-[34px] rounded-[60px]
          bg-noti-purple-bg text-noti-purple-fg px-12 py-[30px]">
  <span>Your password has been reset.</span>

  {% comment %} Button to navigate to the login page after resetting the password {% endcomment %}
  <a class="podo-button darkpurple ml-[25px] whitespace-nowrap hover:bg-button-hover-bg" href="{% url 'account_login' %}">
    Log In
  </a>
</div>

{% endblock content %}
