{% extends "market_base/base_with_header.html" %}
{% comment %} Use the shared base layout with header for the password reset done page {% endcomment %}


{% comment %} Main content {% endcomment %}
{% block content %}

{% comment %} Centered notification box informing the user that a password reset email was sent {% endcomment %}
<div class="flex items-center justify-between w-full max-w-[740px] mx-auto my-[38px] text-[20px] leading-[34px] rounded-[60px]
          bg-noti-purple-bg text-noti-purple-fg px-12 py-[30px]">
  <span>A password reset email has been sent.<br>Please check your inbox and follow the instructions.</span>

  {% comment %} Button to navigate back to the home page {% endcomment %}
  <a class="podo-button darkpurple ml-[25px] whitespace-nowrap hover:bg-button-hover-bg" href="{% url 'home' %}">Go to Home</a>
</div>

{% endblock content %}
